.images-body{
    height: auto;
    width: 100vw;
    margin: 0rem;
    overflow: hidden;
    
}

#images-track{
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 8%;
    top: 50%; transform: translate(0%,-50%);
    user-select: none;
    margin-top: 100px;
    
}

#images-track2{
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 8%;
    top: 50%; transform: translate(0%,-50%);
    user-select: none;
    margin-top: 100px;
}

.image-inside-track{
    width: 50vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% 50%;
    border-radius: 6px;
    

}
.start-scroll{
    color: rgb(0, 0, 0);
    text-orientation: sideways; 
    font-family: sans-serif;
    writing-mode: vertical-lr; 
    transform: rotate(180deg);
}
.ending-scroll{
    color: rgb(147, 147, 237);
    text-orientation: sideways; 
    font-family: sans-serif;
    writing-mode: vertical-rl; 
    
}


  @media screen and (max-width: 400px) {
    #images-track{
        margin-top: 25px;
        
    }
    #images-track2{
        margin-top: 25px;
        
    }
    #images-track p{
        font-size: 20px;
        
    }
    #images-track2 p{
        font-size: 20px;
        
    }
    
  }

  @media screen and (max-width: 500px) and (min-width:400px)  {
    #images-track{
        margin-top: 40px;
        
    }
    #images-track2{
        margin-top: 40px;
        
    }
    #images-track p{
        font-size: 20px;
        
    }
    #images-track2 p{
        font-size: 20px;
        
    }
    
  }

  @media screen and (max-width: 600px) and (min-width:500px)  {
    #images-track{
        margin-top: 40px;
        
    }
    #images-track2{
        margin-top: 40px;
        
    }
    #images-track p{
        font-size: 20px;
        
    }
    #images-track2 p{
        font-size: 20px;
        
    }
    
  }
  @media screen and (max-width: 700px) and (min-width:600px)  {
    #images-track{
        margin-top: 40px;
        
    }
    #images-track2{
        margin-top: 40px;
        
    }
    #images-track p{
        font-size: 20px;
        
    }
    #images-track2 p{
        font-size: 20px;
        
    }
    
  }

  @media screen and (max-width: 800px) and (min-width:700px)  {
    #images-track{
        margin-top: 40px;
        
    }
    #images-track2{
        margin-top: 40px;
        
    }
    #images-track p{
        font-size: 20px;
        
    }
    #images-track2 p{
        font-size: 20px;
        
    }
    
  }
  @media screen and (max-width: 950px) and (min-width:800px)  {
    #images-track{
        margin-top: 40px;
        
    }
    #images-track2{
        margin-top: 40px;
        
    }
    
    
  }