@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&family=Poppins:wght@600;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
 /* .nav-container {
    border-top: 50px solid #ffffff ; 
    border-right: 25px solid transparent;
    border-left: 25px solid transparent; 
    height: 0px; 
    width: 650px;
    
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 99; 
    position: fixed;
    
    
    left: 50%;
    transform: translate(-50%);
    
   
} */
/* .nav-container2 {
    border-top: 51px solid #060606; 
    border-right: 25px solid transparent;
    border-left: 25px solid transparent; 
    width: 652.5px;
    margin: auto;
    z-index: -1;
    position: absolute;
    top: 0;
    
    
}  */

 .line{
    position: absolute;
    width: 100%;
    height: 35px;
    z-index: -2; 
    /* background-color: #ffffff; */
    background-image: url("../../../../public/trianglify-lowres.png");
    top: -5px;
    outline: solid black 1px;
    
} 



/* Link{
    text-decoration: none;
}

a{
    text-decoration: none;
}
.button-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width : 740px){
    .nav-container {
       width: 100vw;
       border-top: 0px solid #ffffff; 
        border-right: 0px solid transparent;
        border-left: 0px solid transparent; 
        height: 50px;
        background-color: rgb(255, 255, 255);
      
    }
    .nav-container2{
        width: 100vw;
        border-top: 0px solid #000000; 
        border-right: 0px solid transparent;
        border-left: 0px solid transparent; 
        background-color: rgb(3, 3, 3);
        height: 51px;

    }
    .line{
        display: none;
    }
    .button-wrapper {
        display: none;
        align-items: center;
        gap: 0px;
    }
}  */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    z-index: 9999;
    transition: all 300ms ease-in-out;
    height: 30px;
     
    height: 100px;
    
    
}
header .inner-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    height: 100%; 
    
}
header nav {
    display: flex; /* Make the navigation items a flex container */
    align-items: center; /* Center the buttons vertically */
    
}

header nav a {
     /* Adjust the spacing between buttons as needed */
    text-decoration: none;
    color: #000; /* Adjust the color of the button text */
    font-family: 'Poppins';
    position: relative; /* Add position relative to the anchor element */
    display: inline-block;
    
}

.active-navbar{
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.425);
    transition:  300ms ease-in-out;
    height: 40px;
}
.scroll-down header {
    transform: translate3d(0, -100%, 0);
    
}
.scroll-up header {
    filter: drop-shadow(0 -10px 20px #aaa);
    
}
.menu-is-open {
    overflow: hidden;
}
.menu-is-open header {
    filter: none;
}

.active{
    font-size: larger;
    color: rgb(0, 0, 0);
}

