@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&family=Poppins:wght@600;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
 .line{
    position: absolute;
    width: 100%;
    height: 35px;
    z-index: -2; 
    /* background-color: #ffffff; */
    background-image: url("../../../../public/trianglify-lowres.png");
    top: -5px;
    outline: solid black 1px;
    
} 

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    z-index: 9999;
    transition: all 300ms ease-in-out;
    height: 30px;
    height: 100px;
    
    
}
header .inner-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    height: 100%; 
    
}
header nav {
    display: flex; /* Make the navigation items a flex container */
    align-items: center; /* Center the buttons vertically */
    
}

header nav a {
     /* Adjust the spacing between buttons as needed */
    text-decoration: none;
    color: #000; /* Adjust the color of the button text */
    font-family: 'Poppins';
    position: relative; /* Add position relative to the anchor element */
    display: inline-block;
    
}

.active-navbar{
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.425);
    transition:  300ms ease-in-out;
    height: 40px;
}
.scroll-down header {
    transform: translate3d(0, -100%, 0);
    
}
.scroll-up header {
    filter: drop-shadow(0 -10px 20px #aaa);
    
}
.menu-is-open {
    overflow: hidden;
}
.menu-is-open header {
    filter: none;
}

.hamburger-toggle{
    position: relative;
    right: -70px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.hamburger-toggle .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
.button-toggle{
    display: flex;
}
@media (max-width: 901px){
    .hamburger-toggle{
        display: flex;
        
    }
    .button-toggle{
        display: none;
    }
    .active-navbar{
       
        height: 25px;
    }
}