.toggleNavBar-container{
    position: absolute;
    height: 110vh;
    width: 100vw;
    backdrop-filter: blur(50px);
    background-color: #121718;
    left: 0;
    margin-top: -50px;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    
} 
.toggleNavBar-contents{
    display: flex;
    flex-direction: column;
    
     
}
