.card-container {
    width: fit-content;
    background-color: rgb(43, 40, 40);
    justify-content: center;
    margin: auto;
    background-image: url("../../../assets/plane1.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    padding-bottom: 55px ;
    padding-top: 70px;
    margin-top: 60px;
    
    box-shadow: 1px 1px 10px 1px #000000;
  }

/* Basic styling for the card container */
.card {
   
    width: 90vw;
    transition: .2s all;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.523);
    
    /* box-shadow: 0px 3px 10px 3px #000000; */
    transition: .2s all;
}
  
/* Styling for the thumbnail */
.thumbnail {
    width: 400px; /* Adjust the width as needed */
    height: auto;
    border-radius: 4px;
    margin-right: 10px;
    aspect-ratio: 3/2;
    border: solid 2px #ffffff;
    box-shadow: 0px 3px 10px 3px #000000;
   
    
 
    
  
    
   
   
}
  
/* Styling for the content on the right */
.content {
    flex: 1;
    margin: auto;
}
  
  /* Style for the title */
  .title {
    font-size: 35px;
    font-weight: 100;
    text-align: center;
    font-family: 'Poppins';
    
  }
  
  /* Style for the description */
  .description {
    font-size: 16px;
    text-align: center;
    padding: 0px 100px
  }
.custom-link{
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.custom-link:active{
  color: rgb(255, 255, 255);
}
  /*FOR ALL OTHER CARDS*/
  
  .card-all {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.523);
    width:44vw;
    /* box-shadow: 0px 3px 10px 3px #000000; */
    transition: .2s all;
  }
  .thumbnail-all{
    
    width: 200px;
    height: auto;
    border-radius: 4px;
    margin-right: 10px;
    aspect-ratio: 3/2;
    border: solid 2px #ffffff;
    box-shadow: 0px 3px 10px 3px #000000;

  }

  .title-all {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    
    font-family: 'Poppins'
  }

  /*HOVER */
  .card:hover {
  
    background-color: rgb(255, 255, 255);
    transform: scale(1.01);
    transition: .2s all;
}
.card-all:hover{
  background-color: rgb(255, 255, 255);
  transform: scale(1.02);
  transition: .2s all;
}
  
  
  /* Media query for responsiveness */
  @media screen and (max-width: 900px) {
    /* On smaller screens, stack the thumbnail above the content */
    .card {
      flex-direction: column;
      align-items: center;
      width: 70vw;
      justify-content: center;
      margin: auto;
    }
    
    .thumbnail {
      margin-right: 0;
      margin-bottom: 10px;
      width: 250px;
    }
    .title {
      font-size: 20px;
      
      
      
    }
    .card-all {
        flex-direction: column;
        width: 70vw;
        
    }
    .thumbnail-all {
      width: 250px;
      margin: auto;
    }
      
  }
  
  