
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:wght@100;300;400;500;700;900&display=swap');


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222627;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00A8D0;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #008db0;
}

.footer-container{
  height: auto;
  background-color: #008db0;
  
}
.home-page{
  height: auto;

}

#video-bg {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  display: flex;

}

#recent-videos {
  width: 100%;
  height: auto; 
  margin-top: 0px; 
  background-color:#121718;

}

#welcome-content {
  display: flex;
  height: auto;
  justify-content: center;
  background-color: #ffffff00;
  margin-top: 50px;

}

#content-box-place {
  width: 100%;
  height: auto; 
  
}

.custom-link {
  color: rgb(0, 0, 0);
  text-decoration: none;

}

.custom-link:active{
  color: rgb(255, 255, 255);

}

.text-container{
  display: flex;
  flex-direction: row;
  
  /* You can adjust the gap value as needed */
  gap: 20px;
  margin-left: 12vw;
  margin-top:50px;
  margin-bottom: -60px;
  
  text-align: center;

}

.recent-videos-title{
  color: rgb(255, 255, 255);
}



.recent-videos-description{
  font-size: 25px;
  position: relative;
  text-align: center;
  
  color: #00A8D0;
}

/*GALLERY PAGE*/
.gallery-page{
height:auto;
  
}

#auto-display-photo{
  height: auto;
  width: 100%;
  
} 

#favorite-pics-flightSim{
  width: 100%;
  height: 800px; 
  user-select: none;
  position: absolute;
  overflow-x: hidden;
}

#favorite-pics-realLife{
  width: 100%;
  height: 800px; 
  user-select: none;
  position: absolute;
  overflow-x: hidden;
  margin-top: 800px;
  
}
#gallery-display{
  width: 100%;
  height: auto;
  margin-top: 1600px;
  overflow: hidden;
}

.gallery-title{
  left: 0;
  display: flex;
  position: relative;
  font-family: 'Poppins'; 
  
}

.span-title-gallery{
  color: #00A8D0;
  white-space: pre;
  
 
}

.gallery-title:before, .gallery-page:after {
  color:rgb(0, 0, 0);
  content:'';
  flex:0.2;
  border-bottom: solid 2px transparent;
  margin: auto 2.5rem;
  
}
/*ABOUT PAGE*/
.about-page{
  height:auto;

}
#parallax-effect-container{
  height: 100vh;
  width: 100%;
}
#quotes-parallax-effect{
  height: 500px;
  width: 100%;
  background-color: rgba(237, 237, 237, 0);
  object-fit: cover;
  filter: brightness(90%);
}
#about-section{
  height:100vh;
  width: 100%;
  background-color: rgba(234, 17, 17, 0);
}
/* SPECS PAGE */
.specs-page{
  height: auto;
}
#specs-pc-section{
  height:auto;
  display: flex;
  background-color: #ffffff00;
  gap: 0px;
  margin-top: 80px;
  width: 100%;
  flex-direction: row;
  margin: auto;
  margin-top: 80px;
  
}
#specs-pc-section2{
  height:auto;
  display: flex;
  background-color: #ffffff00;
  gap: 0px;
  margin-top: 80px;
  width: 100%;
  flex-direction: row;
  margin: auto;
  margin-top: 80px;
  
}
.spec-image{
  width: 52%;
  object-fit: cover;
  height: 563px;
  margin: auto;
  aspect-ratio: 3/2;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  shape-outside: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  border-radius: 6px;
  
}
.spec-image2{
  width: 52%;
  object-fit: cover;
  height: 563px;
  margin: auto;
  aspect-ratio: 3/2;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  border-radius: 6px;
  
}
#specs-pc-video{
  height:auto;
  width: 100%;
  background-color: rgba(255, 0, 0, 0);
  margin-top: 80px;
}

/* WORK PAGE */ 
.work-page{
  height: auto;
}

#timeline-section{
  width: 100%;
  height: auto;
  
}
#fiverr-videos{
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  
  
}
.fiverr-title{
  left: 0;
  display: flex;
  position: relative;
  font-family: 'Poppins'; 
  margin-top: -30px;
}

.span-fiverr-title{
  color: #00A8D0;
  white-space: pre;
  
 
}

.fiverr-title:before, .fiverr-title:after {
  color:rgb(0, 0, 0);
  content:'';
  flex:0.2;
  border-bottom: solid 2px transparent;
  margin: auto 2.5rem;
  
}
.fiverr-video-player {
  width: 45vw;
  height: 30vw;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 6px;
  z-index: 10;
  background-color: #000000;
  margin: auto;
}
.video-footer{
  display: flex;
  height: auto;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.video-footer h1{
  font-size: 35px;
}
.video-footer p{
  margin: auto;
  font-size: 25px;
}
.custom-fiverr-link{
  color: #00db37;
}
.custom-fiverr-link:hover{
  color: #00b22d;
}
.loading-container{
  height: 100vh;
  width: 100%;
  background-color: #121718;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-header{
  color: #008db0;
  justify-content: center;
  align-items: center;
}
.custom-p{
  margin-top:15px;
  display:flex;
  
}
.custom-p::before, .custom-p::after{
  color:#fdfbfe;
  content:'';
  flex:1;
  border-bottom:groove 1px;
  margin: auto 0.2rem;
  height: 1px;
  width: 15vw;
}
/*DEFAULTS */
body {
  margin: 0px;
  padding: 0px;
  background-color: #121718;
  background-size: cover;

}


h1{
  font-family: 'Poppins';
  font-size: 70px;
  text-align: center;
  color: #fff;
}
p{
  font-family: 'Poppins';
  font-size: 40px;
  color: #fff;
}
.content-test{
  height: 100vh;
}
@media (max-width: 1200px){
  #fiverr-videos{
   
    flex-direction: column;
    
  }
  .fiverr-video-player{
    height: 50vw;
    width: 80vw;
  }
}
@media (min-width:1000px){
  .custom-p::before, .custom-p::after{
   
    width: 7vw;
  }
}
@media (max-width: 985px) {
  
  h1{
    font-size: 65px;
  }
 
}

@media (max-width: 950px) {
  .gallery-title{
    align-items: center;
    display: flex;
    position: relative;
    justify-content: center;
    font-family: 'Poppins'; 
  }
  .gallery-title:before, .gallery-page:after {
    display: none;
  }
  h1{
    font-size: 7vw;
  }
  
  
  .recent-videos-title{
    font-size: 5.8vw;
  }
  .recent-videos-description{
    font-size: 2.8vw;
  }
}
@media (max-width:630px){
  .text-container{
  
    gap: 20px;
    margin-left: 4vw;
    margin-top:50px;
    
  
  }
  .recent-videos-title{
    font-size: 7vw;
  }
  .recent-videos-description{
    font-size: 3.5vw;
  }
}

@media (max-width:370px){
  .text-container{
    gap: 20px;
    margin-left: 4vw;
    margin-top:50px;
    
  
  }
  .recent-videos-title{
    font-size: 20px;
  }
  .recent-videos-description{
    font-size: 15px;
  }
}

@media (max-width:334px){
  .text-container{
    gap: 20px;
    margin-left: 4vw;
    margin-top:50px;
    
  
  }
  .recent-videos-title{
    font-size: 18px;
  }
  .recent-videos-description{
    font-size: 13px;
  }
}
@media (max-width: 885px) {
  #specs-pc-section{
    align-items: center;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    margin-top: 100px;
    width: 100%;  
  }
  #specs-pc-section2{
    align-items: center;
    flex-direction: column-reverse;
    gap: 50px;
    justify-content: center;
    margin-top: 100px;
    width: 100%;  
    
  }
  .spec-image{
    width: 85vw;
    object-fit: cover;
    height: 400px;
    margin: auto;
    aspect-ratio: 3/2;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    
    border-radius: 6px;
    
  }
  .spec-image2{
    width: 85vw;
    object-fit: cover;
    height:400px;
    margin: auto;
    aspect-ratio: 3/2;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    border-radius: 6px;
   
    
  }
}

@media (max-width: 630px){
  .video-footer h1{
    font-size: 25px;
  }
  .video-footer p{
    margin: auto;
    font-size: 20px;

  }
}

@media (max-width: 480px){
  .video-footer h1{
    font-size: 20px;
  }
  .video-footer p{
    margin: auto;
    font-size: 15px;
  }
}
@media screen and (max-width: 400px) {
  #favorite-pics-flightSim{
    height: 350px; 
  }
  #favorite-pics-realLife{
    height: 350px; 
    margin-top:330px;
  }
  #gallery-display{
   
    margin-top: 655px;
   
  }
  p{
    font-size: 20px;
  }
  .spec-image{
  
    height: 300px;
   
    
  }
  .spec-image2{
   
    height:300px;
   
  }
}

@media screen and (max-width: 500px) and (min-width:400px) {
  #favorite-pics-flightSim{
    height: 400px; 
  }
  #favorite-pics-realLife{
    height: 400px; 
    margin-top:400px;
  }
  #gallery-display{
   
    margin-top: 800px;
   
  }
  p{
    font-size: 20px;
  }
  .spec-image{
  
    height: 300px;
   
    
  }
  .spec-image2{
   
    height:300px;
   
  }
}
@media screen and (max-width: 600px) and (min-width:500px)  {
  #favorite-pics-flightSim{
    height: 500px; 
  }
  #favorite-pics-realLife{
    height: 500px; 
    margin-top:450px;
  }
  #gallery-display{
   
    margin-top: 900px;
   
  }
  p{
    font-size: 20px;
  }
  .spec-image{
  
    height: 350px;
   
    
  }
  .spec-image2{
   
    height:350px;
   
  }
}

@media screen and (max-width: 700px) and (min-width:600px)  {
  #favorite-pics-flightSim{
    height: 600px; 
  }
  #favorite-pics-realLife{
    height: 600px; 
    margin-top:550px;
  }
  #gallery-display{
   
    margin-top: 1100px;
   
  } 
  .spec-image{
  
    height: 350px;
   
    
  }
  .spec-image2{
   
    height:350px;
   
  }
}

@media screen and (max-width: 800px) and (min-width:700px)  {
  #favorite-pics-flightSim{
    height: 700px; 
  }
  #favorite-pics-realLife{
    height: 700px; 
    margin-top:630px;
  }
  #gallery-display{
   
    margin-top: 1250px;
   
  } 
  .spec-image{
  
    height: 350px;
   
    
  }
  .spec-image2{
   
    height:350px;
   
  }
}
@media screen and (max-width: 950px) and (min-width:800px)  {
  #favorite-pics-flightSim{
    height: 800px; 
  }
  #favorite-pics-realLife{
    height: 800px; 
    margin-top:700px;
  }
  #gallery-display{
   
    margin-top: 1400px;
   
  } 
}