@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&family=Poppins:wght@600;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

button{
    border: 0;
    cursor: pointer;
    
}

.default{
    background-color: transparent;
    width: 120px;
    height: 50px;
    
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    opacity: 1;
    text-transform: uppercase;
    padding: 0 10px;
    
}
.default::after {
    content: "";
    position: absolute;
    bottom: 8px;
    left: 13px;
    width: 0%;
    height: 2px;
    border-radius: 6px;
    background-color: #00A8D0;
    transition: width 0.15s ease-in-out; 
    
}


.default:hover::after {
    width: 80%;
    
    border-radius: 6px;
}
.default:hover {
    color: #00A8D0;
    
}
.active{
    color: #00A8D0;
    font-size: 16px;
}
.active::after{
    width: 80%;

border-radius: 6px;
}


.social-button{
    background-color: transparent;
    width: 150px;
    height: 50px;
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #00A8D0;
    transition: .2s;
   
}

.social-button:hover{
    background-color: #00A8D0;
    color: white;
    transition: .2s;
   
}
.find-out-button{
    background-color: transparent;
    width: 250px;
    height: 50px;
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #00A8D0;
    transition: .2s;
   
}
.find-out-button:hover{
    background-color: #00A8D0;
    color: white;
    transition: .2s;
   
}
.support-button{
    background-color: transparent;
    width: 310px;
    height: 50px;
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #00A8D0;
    transition: .2s;
}
.support-button:hover{
    background-color: #00A8D0;
    color: white;
    transition: .2s;
   
}
.welcome-button{
    width: 600px;
    height: 375px;
    background-color: #0aff9d00;
    color: white;
    transition-duration: 0.2s;
    cursor: auto;
}

.default-toggle{
    background-color: transparent;
    width: 100vw;
    height: 50px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    opacity: 1;
    text-transform: uppercase;
    padding: 0 10px;
    text-align: left;
    margin-left: 40%;
    transition: .2s all;
    
    
}

.default-toggle:hover{
    transition: .2s all;
    transform: scale(1.1);
    color: #00A8D0;
}

.active-toggle{
    color: #00A8D0;
    font-size: 20px;
    transform: scale(1.1);
}



.button-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.hamburger-icon{
    background-color: transparent;
    
    height: 50px;
    float: right;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    opacity: 1;
    text-transform: uppercase;
   
    padding-top: 10px;
    margin-right: -50px;
    display: none;
    transition: .2s;
}
.hamburger-icon:hover{
    color: #00A8D0;
    transition: .2s;
}
@media (max-width: 901px){
    .hamburger-icon{
        display: flex;
        
    }
}
@media (max-width: 500px){
    .default-toggle{
       
        margin-left: 30%;
       
    }
}

@media (max-width:700px){
    .find-out-button{
        width: 40vw;
        height: 50px;
        font-size: 15px;
      
       
    }
}
@media (max-width:400px){
    .find-out-button{
        width: 40vw;
        height: 50px;
        font-size: 13px;
      
       
    }
}
@media (max-width: 1065px){
    .find-out-button{
       
        font-size: 18px;
      
       
    }
}
@media (max-width:480px){
    
    .find-out-button{
       
        font-size: 15px;
        width: 41vw;
       
    }
} 