@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&family=Poppins:wght@600;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

button{
    border: 0;
    cursor: pointer;
    /* display: inline-block; */
    /* line-height: 1; */
}

.default{
    background-color: transparent;
    width: 120px;
    height: 50px;
    
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    opacity: 1;
    text-transform: uppercase;
    padding: 0 10px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px; */
}
.default::after {
    content: "";
    position: absolute;
    bottom: 8px;
    left: 13px;
    width: 0%;
    height: 2px;
    border-radius: 6px;
    background-color: #00A8D0;
    transition: width 0.15s ease-in-out; 
    
}

/* On hover, expand the line to 100% width */
.default:hover::after {
    width: 80%;
    
    border-radius: 6px;
}
.default:hover {
    color: #00A8D0;
    
}
.active{
    color: #00A8D0;
    font-size: 16px;
}
.active::after{
    width: 80%;

border-radius: 6px;
}


.social-button{
    background-color: transparent;
    width: 150px;
    height: 50px;
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #00A8D0;
    transition: .2s;
   
}

.social-button:hover{
    background-color: #00A8D0;
    color: white;
    transition: .2s;
   
}
.find-out-button{
    background-color: transparent;
    width: 250px;
    height: 50px;
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #00A8D0;
    transition: .2s;
   
}
.find-out-button:hover{
    background-color: #00A8D0;
    color: white;
    transition: .2s;
   
}
.support-button{
    background-color: transparent;
    width: 310px;
    height: 50px;
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #00A8D0;
    transition: .2s;
}
.support-button:hover{
    background-color: #00A8D0;
    color: white;
    transition: .2s;
   
}
.welcome-button{
    width: 600px;
    height: 375px;
    background-color: #0aff9d00;
    color: white;
    transition-duration: 0.2s;
    cursor: auto;
}


  @media screen and (max-width : 740px){
    .default {
       display: none;
      
    }
    .welcome-button{
        display: none;
    }
}