.logo-container{
      
}
.logo-container img{
   
    aspect-ratio: 3/2;
    object-fit: cover;
    height: 90px;
    width: 90px;
   
}
.logo-container:hover{
    transform: scale(1.02);
    cursor: pointer;
}
@media screen and (max-width: 900px) {
    .logo-container img{
     
        aspect-ratio: 3/2;
        object-fit: cover;
        height: 70px;
        width: 70px;
        margin-left: -100px;
    }
}