.gallery-wrapper{
    width: 90%;
    max-width: 1220px;
    margin: 0 auto;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
    grid-gap: 20px;
    left: 20%;
    margin-top: 40px;
    
}

.gallery-item{
    position: relative;
    background-color: white;
    overflow: hidden;
    border-radius: 6px;
   
    
}
.gallery-item:hover{
    border: 1px solid rgb(0, 0, 0);
    
}

.photo-gallery-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s cubic-bezier(0.165,0.84,0.44,1);
    cursor: pointer;

}

.photo-gallery-image:hover{
    transform: scale(1.1);
    
}

.gallery-wrapper .gallery-item:nth-child(3n -2){
    grid-column: span 2;
    grid-row: span 2;
}
/* .gallery-wrapper .gallery-item:nth-child(8){
    background-color: rgba(0, 255, 255, 0);
    grid-column: span 2;
    grid-row: span 2;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px;
    padding-top: 80px;
    
} */
.photo-gallery-title{
    display: flex;
    justify-content: center;
   
    text-align: center;
}
.socials-icon-instagram{
    color: black;
    font-size: 60px;
    margin-top: 20px;
}
.socials-icon-instagram:hover{
    cursor: pointer;
    color: rgb(232, 81, 220);
    transform: scale(1.1);
}
.span-title{
    color: rgb(147, 147, 237);
    white-space: pre;
}

#lightbox{
    position: fixed;
    z-index: 2000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}
#lightbox.active{
    display: flex;
    justify-content: center;
    align-items: center;
}

#lightbox img{
    width: 70%;
    height: 75%;
    border-radius: 6px;
    object-fit: cover;
}


@media (max-width: 768px){
   .gallery-wrapper{
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
        grid-auto-rows: 250px;
        
   }

   .gallery-wrapper .gallery-item:nth-child(3n -2){
        grid-column: unset;
        grid-row: unset;
    }
    
    
    #lightbox img{
        width: 90%;
        height: 55%;
        border-radius: 6px;
        object-fit: cover;
    }
}
@media (max-width: 600px){
    .socials-icon-instagram{
        
        font-size: 40px;
        
    }
}