.quotes-wrapper{
    display: flex;
    height: 500px;
    width: 100%;
    background-color: rgba(249, 249, 249, 0);
    flex-direction: row;
    gap: 3vw;
    justify-content: center;
    position: absolute;
    align-items: center;
    
    
}
.quotes-wrapper img{
    object-fit: cover;
    height: 500px;
    width: 100%;
    position: absolute;
    aspect-ratio: 3/2;
    
}
.quotes-wrapper  p {
    font-size: 18px;
    text-align: center; 
    display: flex; 
    align-items: center; 
    margin: 0; 
    
    width: 100%; 
    word-wrap: break-word; 
    overflow-wrap: break-word;
    backface-visibility: hidden;
}



#box-one{
    width: 15vw;
    height: 300px;
    
    word-wrap: break-word; 
    overflow-wrap: break-word;
    display: flex;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.482);
    border-radius: 10px;
    border: 2px solid #00A8D0;
    padding: 20px;
}


#box-two{
    width: 15vw;
    height: 300px;
    padding: 20px;
    
    word-wrap: break-word; 
    overflow-wrap: break-word;
    display: flex;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.482);
    border-radius: 10px;
    border: 2px solid #00A8D0;
   
}
#box-three{
    width: 15vw;
    height: 300px;
    padding: 20px;
    
    word-wrap: break-word; 
    overflow-wrap: break-word;
    display: flex;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.482);
    border-radius: 10px;
    border: 2px solid #00A8D0;
}
@media (max-width: 800px) {
    .quotes-wrapper {
      flex-direction: column; 
      height: auto; 
      gap:3vw
    }
    
    #box-one,
    #box-two,
    #box-three {
      width: 80%; 
      height: 100px; 
      margin-bottom: 20px;
    }

    .quotes-wrapper  p {
        font-size: 15px;
      
    }
  }